.footer{
    background-color: rgb(23, 30, 48);
    color: white;
    padding-left: 130px;
    padding-right: 130px;
}
.link {
    font-weight: 500;
    font-size: 14px;
    color: rgb(154, 156, 163);
    padding: 8px 0px;
    display: grid;
}
.contactLink a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}